name: CI-CD Pipeline

on:
  push:
    branches:
      - main

env:
  FRONTEND_IMAGE: pruthvi111718/cicd-demo
  BACKEND_IMAGE: pruthvi111718/cicd-demo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

    # 1️⃣ Checkout Repository
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2️⃣ Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3️⃣ Build Frontend (v1)
    - name: Build Frontend Image
      run: docker build -t $FRONTEND_IMAGE:v1 ./frontend

    # 4️⃣ Build Backend (v2)
    - name: Build Backend Image
      run: docker build -t $BACKEND_IMAGE:v2 ./backend

    # 5️⃣ Push Images
    - name: Push Frontend
      run: docker push $FRONTEND_IMAGE:v1

    - name: Push Backend
      run: docker push $BACKEND_IMAGE:v2

    # 6️⃣ Deploy to VM
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          cd ~/crud-dd-task-mean-app
          docker compose pull
          docker compose down
          docker compose up -d
